
body{
    background-image: url('img/orange.jfif');
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#first_section{
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid black;
    border-radius: 30px;
    padding: 30px;
}

#second_section{
    background-color: rgba(255, 120, 58, 0.6);
    border: 3px solid black;
    border-radius: 30px;
    padding: 30px;
}

#tirth_section{
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid black;
    border-radius: 30px;
    padding: 30px;
    margin-top: 20px;
    color: black;
}

.button{
    background-color: black;
    color: white;
    margin-top: 15px;
}